// .p-invalid {
//   border-color: #dc2626 !important; /* rojo fuerte */
//   box-shadow: 0 0 0 1px #dc2626 !important;
// }

.p-invalid-fieldset {
  border: 1px solid #dc2626 !important;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #dc2626 !important;
}
